@font-face{
    font-family: WorkSans;
    src: url('WorkSans-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-headers{
    width: 100%;
    height: 100vh;
    background-image: url("Design\ sem\ nome\ \(1\).png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Worksans;

}

nav{
    width: 205vh;
    height: 100px;
    display: flex;
    color: #fff;
}

.logo{
    width: 50%;
    height: 100px;
    display: flex;
    padding-left: 50px;
}

.logo img{
    width: 70px;
    height: 80px;
    padding-top: 15px;
}

.logo h1{
    font-size: 25px;
    line-height: 100px;
    padding-left: 10px;
    color: black;
}

.menu{
    width: 50%;
    height: 100px;
}

.menu ul{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu ul li{
    list-style: none;
    font-size: 14px;
}

section{
    display: flex;
}

.leftside {
    height: 100%;
    padding: 9vh;
  }
  
  h1 {
    font-size: 3.2rem;
  }  
  .txt-type > .txt {
    border-right: 0.2rem solid;
    color: #0dae7a;
  }
  
  