@font-face{
    font-family: WorkSans;
    src: url('fontes/WorkSans-Regular.ttf');
}
@font-face{
    font-family: WorkSansLight;
    src: url('fontes/WorkSans-ExtraLight.ttf');
}
*{
    -webkit-box-sizing: border-box;  /* Interpretação de navegadores*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'WorkSans', sans-serif;
}

nav{
    display: flex;
    padding: 40px 0 0 150px;
}

nav img{
    width: 50px;
    padding-left: 10px;
}

.back input{
    padding-top: 5px;
    width: 30px;
}

.text-sobre{
    width: 90%;
    padding: 40px 0 0 150px;
    color: #455a64;
}

.text-sobre h2{
    color: #01bcd5;
}

form{
    padding-left: 150px
}

.form-separator{
    width: 100%;
    display: flex;
    padding-top: 30px;
}

.input{
    padding-left: 20px;
    width: 40%;
}

.caixa-input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border:1px solid #cfd8dc;
    display: flex;
}

.input:first-child{
    padding-left: 0;
}

.form-separator .caixa-input input{
    width: 100%;
    border: none;
    padding-left: 10px;
    outline: 0;
}

.caixa-input img{
    width: 35px;
    height: 35px;
    padding: 10px 0 0 10px;
}

    
.caixa-input2{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border:1px solid #cfd8dc;
    display: flex;
}

.form-separator .caixa-input2 input{
    width: 100%;
    border: none;
    padding-left: 10px;
    outline: 0;
}

.caixa-input2 img{
    width: 35px;
    height: 35px;
    padding: 10px 0 0 10px;
}

.input2{
    padding-left: 20px;
    width: 29%;
}

.input2:first-child{
    padding-left: 0;
}




